<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>关于富聊</title>
    <meta name="Keywords" content="布谷鸟一对一商业系统，陌生人交友，app，社交应用，聊天赚积分，积分兑奖，聊天赚钱，轨迹，随拍，魅力值，才气值，积分，能量，兑奖，送礼。" />
    <meta name="Description" content="布谷鸟一对一商业系统、收礼等互动形式获取积分，并可将积分提现的移动社交应用，支持在线直播、视频聊天、绝密私照、同城交友、群红包等新颖功能，让您在聊天互动中获取更多的乐趣和价值。" />
    <link rel="stylesheet" href="__STATIC__/css/about_us.css" type="text/css" media="screen, projection" />    
    <link rel="stylesheet" href="__STATIC__/css/about_us_news.css" type="text/css" media="screen, projection" />    
    <script src="__STATIC__/js/config.js"></script>    
    <script src="__STATIC__/js/counters.js" type="text/javascript"></script>
    <script src="__STATIC__/js/jquery2.2.4.min.js" type="text/javascript"></script>

</head>
    <style>
        .mstyle7 .img_01{
            background: url(__STATIC__/images/imglct_zp09.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .mstyle8 .img_01{
            background: url(__STATIC__/images/imglct_zp10.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }        
    </style>
<body>
<input type="hidden" id="state" uid="" value="0"/>

 <header>
        <section>
            <div class="top_part animated fadeInDown">
                <a href="{:url('/index/index')}" class="a_index ">首页</a>
                <a href="{:url('/index/abouts')}" class="a_about colorRed">关于我们</a>
                <a class="a_joinus " href="{:url('/index/joinus')}">加入我们</a>
                <a href="{:url('/index/linkus')}" class="a_link">联系我们</a>
            </div>
        </section>
    </header>
    <section>
        <a class="banner"></a>
    </section>
    <div class="aboutfl">
        <div class="top_tabs">
            <div class="tab active">
                <div class="text_01">公司介绍</div>
                <div class="yq">
                    <div class="yq_po"></div>
                </div>
                <div class="text_02">01</div>
            </div>
            <div class="tab">
                <div class="text_01">创始人</div>
                <div class="yq">
                    <div class="yq_po"></div>
                </div>
                <div class="text_02">02</div>
            </div>
            <div class="tab">
                <div class="text_01">企业文化</div>
                <div class="yq">
                    <div class="yq_po"></div>
                </div>
                <div class="text_02">03</div>
            </div>
            <div class="tab">
                <div class="text_01">产品故事</div>
                <div class="yq">
                    <div class="yq_po"></div>
                </div>
                <div class="text_02">04</div>
            </div>
            <div class="tab">
                <div class="text_01">新闻中心</div>
                <div class="yq">
                    <div class="yq_po"></div>
                </div>
                <div class="text_02">05</div>
            </div>
            <div class="line_po"></div>
        </div>
        <div class="event_warp">
            <div class="event show">
                <div class="left_001">
                    <div class="bg_img_lct"></div>
                </div>
                <div class="right_001">
                    <div class="text_lct_r_01">杭州富聊科技有限公司，由互联网创业先锋童幼峰先生于 2013年7月19日创立。</div>
                    <div class="text_lct_r_01">富聊以“让聊天更有价值”为己任，是一款基于有偿聊天的移动社交应用，聊天过程中付费方需消耗能量，收费方可获取积分，并可将积分提现。富聊开创了聊天赚钱的社交模式，也让聊天成为了一项有价值的、可量化的独特交流方式。</div>
                    <div class="text_lct_r_01">据国内权威数据机构易观旗下的第三方数据监测平台易观千帆数据显示，2017年初富聊在APP社交网络领域排名前10位，全网排名在500位以内，目前用户数已经突破2000万，是国内少数几个从上线运营后能成功连续盈利的社交应用之一，并且连续保持快速增长势头。</div>
                    <div class="text_lct_r_01">富聊团队拥有丰富的社交和用户行为激励方面的产品经验，始终坚持“聊天创造财富”的愿景，把不断提高用户体验作为终极目标，让用户在互动中获取更多的乐趣和价值！</div>
                </div>
            </div>
            <div class="event ">
                <div class="se_lct02"  style="padding:0;">
                    <div class="pp_lct01"><span class="dz">童幼峰</span>，富聊创始人，董事长兼总经理，是老一辈个人站长中的明星草根站长，与蔡文胜、李兴平、庞升东等人同为站长圈内的佼佼者，先后荣膺中国十大知名站长、中国传媒新锐人物奖等各类殊荣。</div>
                    <div class="pp_lct01">和许多互联网创业者一样，童幼峰并不是学计算机出生，但是他与生俱来就对新事物具有强烈的好奇心和学习力，音乐、摄影、汽车等兴趣爱好广泛，尤其是对计算机十分着迷。1997年时，一个偶然的机会，经朋友指点接触了互联网，自觉敏锐的他察觉到，互联网在几年之后将成为商业活动中一个不可替代的角色。</div>
                    <div class="pp_lct01">2000年，童幼峰创办了SkyHits个人网站，通过自身内容的不断丰富，全球排名很快上升到了100位以内，创造了当时个人网站的神话，并很快收到了一笔从海外汇来的广告费，也被百度在成立网站联盟之初选中成为测试的三家个人网站之一。</div>
                </div>
                <div class="text_lct_r_01"> 2003年，童幼峰顺应时势创办了弈天网络，成为国内较早的网站广告联盟。在淘宝创立之初，帮助淘宝突破竞争对手eBay易趣的封杀，打败并远超过eBay易趣，并成为腾讯、盛大、巨人、趣游等知名平台的合作伙伴，是最受站长欢迎的广告联盟之一，这让他在互联网圈内名声鹤起。</div>
                <div class="text_lct_r_01">伴随着互联网高速普及和发展，童幼峰以“创新，共赢，发展”的经营理念，希望能创造出对用户对社会有意义的产品，先后创办了地域门户网站 “ 大杭州 ”、个人门户“无忧岛”、SNS社区“YY365”、游戏试玩平台“PC蛋蛋”、手机端推广渠道“蛋蛋赚”等一系列开创业界先河的网站和应用，成为互联网领域成功的持续实践者和创业者。</div>
                <div class="text_lct_r_01">童幼峰现在主要的精力放在了富聊，“创建富聊是为了改善以往社交环境中男生热情、女生冷漠的失衡状态，许多女生并不是没有交友的需求，而是习惯了高冷、被追逐的状态，不愿意主动和异性交朋友，而富聊的激励体系，改变了这种交友生态，让男生找到了存在感。” 二十年来，从当年不经意间接触互联网，到冲入互联网行业，从SkyHits到富聊，童幼峰做了大大小小十几个项目和产品，凭借其独到的“果园和树苗理论”和“规模点”理念，从来没拿过一分钱的融资，一直以来都是赚钱的，而且每个项目都颇具时代特色。 童幼峰认为，在互联网高速发展的今天，真正好的产品其实不是创造出来的，而是演变出来的，就像大自然中所有的动物和植物，刚开始不是这样子的，随着环境的变化慢慢进化才有今天的样子。大自然是这样的，公司和产品也应该是这样，这种演变下才能适应不断变化的环境，提高创业成功率。
                </div>
            </div>
            <div class="event ">
                <div class="warp_out_lct_001">
                    <div class="right_warp_lct_01">
                        <div class="p_text_01">
                            <span class="dz2">愿景：</span>聊天创造财富
                        </div>
                        <div class="p_text_01"><span class="dz2">使命：</span>让聊天更有价值</div>
                        <div class="p_text_01"><span class="dz2">经营理念： </span></div>
                        <div class="p_text_01"><span class="dz2">让聊天更有价值</span></div>
                        <div class="p_text_02"><span class="dz3"></span>创新，创新是富聊的竞争力；</div>
                        <div class="p_text_02"><span class="dz3"></span>共赢，坚持共赢；</div>
                        <div class="p_text_02"><span class="dz3"></span>发展，坚持发展，不固步自封。</div>
                        <div class="p_text_01"><span class="dz2">核心价值观：</span></div>
                        <div class="p_text_01"><span class="dz2">创业精神、团队协作、影响力、向心力、要和给</span></div>
                        <div class="p_text_02"><span class="dz3"></span>始终以乐观主义的精神和必胜的信念，影响并带动同事和团队；</div>
                        <div class="p_text_02"><span class="dz3"></span>有主人翁意识，把快乐积极的正能量传递给整个团队和公司</div>
                        <div class="p_text_02"><span class="dz3"></span>分享经验，提供帮助，利用团队力量解决问题</div>
                        <div class="p_text_02"><span class="dz3"></span>“要”鼓励、“要”肯定、“要”支持；</div>
                        <div class="p_text_02"><span class="dz3"></span>“给”承诺、“给”表态</div>
                    </div>
                    <div class="right_warp_lct_02"></div>
                </div>
            </div>
            <div class="event  event04">
                <div class="text_lct_09">
                    <div class="tt_lct_01">打开锁住你内心的那扇门，</div>
                    <div class="tt_lct_01">邂逅视线之外的风景。</div>
                    <div class="tt_lct_01">在这座城市的某一个角落，</div>
                    <div class="tt_lct_01">让我们找个人，</div>
                    <div class="tt_lct_01">一起聊聊。</div>
                    <div class="tt_lct_01">富聊，</div>
                    <div class="tt_lct_01">拍生活点点滴滴，分享人生的色彩；</div>
                    <div class="tt_lct_01">找志同道合之人，沟通生活的绚烂；</div>
                    <div class="tt_lct_01">上班前，午饭后，等车时，闲逛中，</div>
                    <div class="tt_lct_01">打开富聊，</div>
                    <div class="tt_lct_01">聊个天，收个礼，</div>
                    <div class="tt_lct_01">赚个积分，兑个奖品，</div>
                    <div class="tt_lct_01">其实，闲暇的生活可以更充实。</div>
                    <div class="tt_lct_01">因为在这里，生活不再单一，聊天更有价值。</div>
                </div>
                <div class="text_lct_092">我们的产品“富聊”是一款通过聊天、收礼等互动形式获取积分 ，并可将积分兑换成现实奖品的手机交友应用。该应用支持照片 分享、语音聊天、轨迹查询等多款新颖功能。我们把不断提高用户体验做为终极目标，将使您在互动中获取 更多的乐趣和价值！</div>
                <div class="next_lct_ct">
                    <div class="ct_left"></div>
                    <div class="ct_right">
                        <div class="ttr_lct1">富聊参与的电影</div>
                        <div class="img_lct3">
                            <a href="http://www.iqiyi.com/v_19rrkzux8g.html?vfm=2008_aldbd" target="_blank">
                                <div class="bg_po_001"></div>
                            </a>
                        </div>
                        <div class="ttr_lct2">上映时间：2016年4月《绝命赌师》</div>
                        <div class="mstyle mstyle1">
                            <div class="img_lct_two">
                                <a href="http://www.iqiyi.com/v_19rr9l2jo0.html?vfm=m_303_qqll" target="_blank">
                                    <div class="img_01"></div>
                                    <div class="img_02"></div>
                                </a>
                            </div>
                            <div class="tt_09">上映时间：2016年10月 《环球梦游记》 </div>
                        </div>
                        <div class="mstyle mstyle2">
                            <div class="img_lct_two">
                                <a href="https://v.qq.com/x/page/j0540j5ohce.html" target="_blank">
                                    <div class="img_01"></div>
                                    <div class="img_02"></div>
                                </a>
                            </div>
                            <div class="tt_09">上映时间：2016年11月 《痞子兵王2》 </div>
                        </div>
                        <div class="mstyle mstyle3">
                            <div class="img_lct_two">
                                <a href="http://baidu.iqiyi.com/watch/5676248018006893925.html?page=videoMultiNeed" target="_blank">
                                    <div class="img_01"></div>
                                </a>
                                <a href="https://v.qq.com/x/page/x0530preh2y.html" target="_blank">
                                    <div class="img_02"></div>
                                </a>
                            </div>
                            <div class="tt_09">上映时间：2016年11-12月 《耐撕男女》 </div>
                        </div>
                        <div class="mstyle mstyle4">
                            <div class="img_lct_two">
                                <div class="img_01"></div>
                            </div>
                            <div class="tt_09">上映时间：2016年12月 《解不开的密码》 </div>
                        </div>
                        <div class="mstyle mstyle5">
                            <div class="img_lct_two">
                                <a href="http://www.iqiyi.com/v_19rrb55s8o.html?fv=p_02_02&vfm=bdvtx&frp=v.baidu.com%2Fv&kwid=129370" target="_blank">
                                    <div class="img_01"></div>
                                </a>
                                <a href="http://www.iqiyi.com/v_19rrbawq5k.html?fv=p_02_02&vfm=bdvtx&frp=v.baidu.com%2Fv&kwid=129595" target="_blank">
                                    <div class="img_02"></div>
                                </a>
                            </div>
                            <div class="tt_09">上映时间：2017年4月 《虚拟情人3》《霸道总裁蓝百万》 </div>
                        </div>
                        <div class="mstyle mstyle6">
                            <div class="img_lct_two">
                                <a href="https://v.qq.com/x/cover/646vt1qqqg9zxs3.html?ptag=newduba&vfm=bdvtx&frp=v.baidu.com%2Fv" target="_blank">
                                    <div class="img_01"></div>
                                </a>
                                <a href="http://v.youku.com/v_show/id_XMjgyMjU4Mjk3Ng==.html?vfm=bdvtx&frp=v.baidu.com%2Fv" target="_blank">
                                    <div class="img_02"></div>
                                </a>
                            </div>
                            <div class="tt_09">上映时间：2017年6月 《剪刀手美少女》《卧底1000》 </div>
                        </div>
                        <div class="mstyle mstyle7">
                            <div class="img_lct_two">
                                <a href="http://www.iqiyi.com/v_19rrev3ef8.html" target="_blank">
                                    <div class="img_01"></div>
                                </a>
                            </div>
                            <div class="tt_09">上映时间：2018年1月 《中国超人董新尧》</div>
                        </div>
                        <div class="mstyle mstyle8">
                            <div class="img_lct_two">
                                <a href="http://v.youku.com/v_show/id_XMzU2NTk3MjQ0NA==.html" target="_blank">
                                    <div class="img_01"></div>
                                </a>
                            </div>
                            <div class="tt_09">上映时间：2018年4月 《特种使命之绿色军团》</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event event-news" id="eventNews">
                <!-- 导航切换 -->                
                <ul class="news-title">
                    <li class="ntactive" data-type="media">媒体聚焦</li>
                    <li data-type="dynamic">公司动态</li>
                </ul>
                <!-- 媒体聚焦 -->
                <div class="newstype news-media">                    
                    <!-- 底部分页 -->
                    <ul id="pagination0" class="pagination"></ul>
                </div>
                <!-- 公司动态 -->
                <div class="newstype news-dynamic" style="display: none;">
                    <!-- 底部分页 -->
                    <ul id="pagination1" class="pagination"></ul>
                </div>
                
            </div>
            <div class="news-detail" style="display: none;">
                <div class="news-detail-title">-----------</div>
                <div class="news-tips">
                    <div class="news-detail-time">****-**-**</div>
                    <div class="news-resource"><span class="res-span">来源：<span class="news-res"></span></span></div>
                    <div class="backlist"><<返回列表</div>
                </div>
                <div class="news-content"></div>
            </div>
        </div>
    </div>
    <div class="foot_bottom2 foot_bottom23">
        <!-- <a href="aboutus.html" class="gyfl">关于富聊</a> <span class="sp001">|</span>--><span class="sp002">copyright © 2018杭州富聊科技有限公司 版权所有<span class="sp001">|</span> <a href="http://www.miibeian.gov.cn/" target="_blank">ICP证：浙B2-20130232号  网络文化经营许可证-浙网文[2016]0174-074号</a><span class="sp001">|</span><a href="http://jb.ccm.gov.cn/" target="_blank">12318全国文化市场举报网站</a></span>
    </div>
    <script src="static/js/sea.js"></script>
    <script>
        seajs.use('about.js?20170214');
        seajs.use('recharge.js?20170214');
        seajs.use('about_news.js?20170214');
    </script>    
</body>

</html>
