<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>关于布谷鸟一对一商业系统</title>
    <meta name="Keywords" content="布谷鸟一对一商业系统，陌生人交友，app，社交应用，聊天赚积分，积分兑奖，聊天赚钱，轨迹，随拍，魅力值，才气值，积分，能量，兑奖，送礼。" />
    <meta name="Description" content="布谷鸟一对一商业系统、收礼等互动形式获取积分，并可将积分提现的移动社交应用，支持在线直播、视频聊天、绝密私照、同城交友、群红包等新颖功能，让您在聊天互动中获取更多的乐趣和价值。" />
    <link rel="stylesheet" href="__STATIC__/css/linkus_lct.css" type="text/css" />
    <style>
    .ditu{
        background: url(__STATIC__/images/map.jpg);
    }
    </style>
    <script src="__STATIC__/js/config.js"></script>
<script src="__STATIC__/js/counters.js" type="text/javascript"></script></head>

<body>
    <header>
        <section>
            <div class="top_part animated fadeInDown">
                <a href="{:url('/index/index')}" class="a_index ">首页</a>
                <a href="{:url('/index/abouts')}" class="a_about ">关于我们</a>
                
                <a class="a_joinus " href="{:url('/index/joinus')}">加入我们</a>
                <a href="{:url('/index/linkus')}" class="a_link colorRed">联系我们</a>
            </div>
        </section>
        
    </header>
    <input type="hidden" id="state" uid="" value="0"/>
    <section>
        <div class="ditu">
            <div class="po_box">
                <div class="p_lct_011">布谷鸟科技有限公司</div>
                <div class="p_lct_021">公司地址：</div>
                <div class="p_lct_022"></div>
                <div class="p_lct_031">总机：</div>
                <div class="p_lct_041">传真：</div>
                <div class="p_lct_051">网址：<a href="http://www.ipaychat.com" target="_blank">http://www.ipaychat.com</a></div>
                <div class="p_lct_061"><img width="139px" height="139px" src="__STATIC__/picture/fwh_link.jpg"></div>
                <div class="p_lct_051">关注微信公众号联系客服</div>
            </div>
        </div>
    </section>
    <section>
        <div class="part_3">
            <div class="part">
                <div class="text_01">商务合作</div>
                <div class="text_02">联系人：</div>
                <div class="text_02">邮箱：</div>
            </div>
            <div class="part part2">
                <div class="text_01">媒体品牌</div>
                <div class="text_02">联系人：</div>
                <div class="text_02">邮箱：</div>
            </div>
            <div class="text_01">渠道推广</div>
            <div class="text_02">联系：</div>
            <div class="text_02">邮箱：</div>
            <div class="part"></div>
        </div>
    </section>
   <div class="foot_bottom2 foot_bottom23">
        <!-- <a href="aboutus.html" class="gyfl">关于富聊</a> <span class="sp001">|</span>--><span class="sp002">copyright © 2018山东布谷鸟科技有限公司 版权所有<span class="sp001">|</span> <a href="http://www.miibeian.gov.cn/" target="_blank">ICP证：浙B2-20130232号  网络文化经营许可证-浙网文[2016]0174-074号</a><span class="sp001">|</span><a href="http://jb.ccm.gov.cn/" target="_blank">12318全国文化市场举报网站</a></span>
    </div>
    <script src="__STATIC__/js/sea.js"></script>
    <script>
    seajs.use('recharge.js?20170214');
    </script>
</body>

</html>
